# Ports
BYMR_CLIENT_PORT=5173
BYMR_SERVER_PORT=3001
BYMR_DB_PORT=5432
BYMR_REDIS_PORT=6379
BYMR_PGADMIN_PORT=8080

# Server
BYMR_ENV=local
BYMR_SERVER_BASE_URL=http://localhost
BYMR_API_VERSION=v1.5.0-beta
BYMR_SECRET_KEY=local-dev-secret-change-me
BYMR_SESSION_LIFETIME=30d
BYMR_USE_VERSION_MANAGEMENT=enabled
BYMR_AVATAR_URL=https://api.dicebear.com/9.x/bottts-neutral/jpg

# Client
BYMR_CLIENT_BASE_URL=http://localhost:3001
BYMR_CLIENT_CDN_URL=http://localhost:3001
BYMR_CLIENT_DEBUG=true
BYMR_ALLOWED_ORIGINS=http://localhost:3001

# Database
BYMR_DB_NAME=bym
BYMR_DB_USER=postgres
BYMR_DB_PASSWORD=dev12345

# Tooling
BYMR_PGADMIN_EMAIL=admin@admin.com
BYMR_PGADMIN_PASSWORD=admin
